.hero {
    height: 100vh; /* Ensures it covers the full viewport height */
    background-size: cover;
    background-color: #f1f1f8;
    background-position: center;
    color: #080824;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
    position: relative;
    margin-bottom: 50px;
    
}


/* Animations */
@keyframes fadeIn {
    from { opacity: 0; transform: translateY(20px); }
    to { opacity: 1; transform: translateY(0); }
}

.hero-text {
    max-width: 800px;
    padding-top: 50px; /* Adjust this to push content lower */
}

.hero-text h1 {
    font-size: 48px;
    font-weight: 700;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}

.hero-text h2 {
    font-size: 28px;
    font-weight: 500;
    margin-top: 10px;
}

.hero-text p {
    max-width: 700px;
    margin: 15px auto 30px;
    line-height: 1.6;
    font-size: 18px;
}

/* Button Styles */
.hero-buttons {
    display: flex;
    gap: 15px;
    justify-content: center;
}

.btn {
    padding: 12px 24px;
    font-size: 18px;
    font-weight: 600;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.primary {
    background: transparent;
    color: #080824;
    border: 2px solid #080824;
}

.primary:hover {
    background: #080824;
    color: #fff;
    transform: scale(1.05);
}

.secondary {
    background: transparent;
    color: #080824;
    border: 2px solid #080824;
}

.secondary:hover {
    background: #080824;
    color: #fff;
    transform: scale(1.05);
}
